* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.recipeCont {
  padding: 20px;
}

.fieldTitle {
  font-size: 1em;
  font-weight: 700;
}

.dataField {
  padding: 10px 0px;
}